
{%  liquid 
assign enable_tabs = false
for block in section.blocks
  if block.type == 'product-tabs'
     if block.settings.tab_button_label != blank 
      assign enable_tabs = true
    endif 
  endif
endfor
%}

{% if enable_tabs %}
    <div class="product-tabs-container">
    <div class="tab-container">
        {% for block in section.blocks %}
        {% if block.type == 'product-tabs' %}
            <button class="tab-button {% if block.settings.tab_active %} active {% endif %}" data-tab="{{block.settings.tab_index}}">{{ block.settings.tab_button_label }}</button>
        {% endif %}
        {% endfor %} 
        <div class="tab-background"></div>
    </div>

    <div class="tab-content">
        {% for block in section.blocks %}
        {% if block.type == 'product-tabs' %}
            <div class="ta-tab-item {% if block.settings.tab_active %} active {% endif %}" data-tab="{{block.settings.tab_index}}">
                {% if block.settings.tab_content_heading != blank or block.settings.tab_content_text != blank %}
                    <div class="tab-content-wrapper">
                        {% if block.settings.tab_content_icon != blank %} 
                        <div class="tab-content_icon">
                            <img src="{{ block.settings.tab_content_icon | img_url: 'master' }}">
                        </div>
                        {% endif %}
                        <div class="tab-content_text-wrap">
                            <div class="tab-content-heading">{{ block.settings.tab_content_heading }}</div>
                            <div class="tab-content-text">{{ block.settings.tab_content_text }}</div>
                        </div>
                    </div>
                {% endif %}

                {% if block.settings.tab_content_heading_2 != blank or block.settings.tab_content_text_2 != blank %}
                    <div class="tab-content-wrapper">
                        {% if block.settings.tab_content_icon != blank %} 
                        <div class="tab-content_icon">
                            <img src="{{ block.settings.tab_content_icon_2 | img_url: 'master' }}">
                        </div>
                        {% endif %}
                        <div class="tab-content_text-wrap">
                            <div class="tab-content-heading">{{ block.settings.tab_content_heading_2 }}</div>
                            <div class="tab-content-text">{{ block.settings.tab_content_text_2 }}</div>
                        </div>
                    </div>
                {% endif %}

                {% if block.settings.tab_content_heading_3 != blank or block.settings.tab_content_text_3 != blank %}
                    <div class="tab-content-wrapper">
                        {% if block.settings.tab_content_icon != blank %} 
                        <div class="tab-content_icon">
                            <img src="{{ block.settings.tab_content_icon_3 | img_url: 'master' }}">
                        </div>
                        {% endif %}
                        <div class="tab-content_text-wrap">
                            <div class="tab-content-heading">{{ block.settings.tab_content_heading_3 }}</div>
                            <div class="tab-content-text">{{ block.settings.tab_content_text_3 }}</div>
                        </div>
                    </div>
                {% endif %}
            </div>
        {% endif %}
        {% endfor %} 
    </div>
    </div>
{% endif %}

