<style>
  #shopify-section-{{ section.id }} {
    background: linear-gradient(to bottom, {{ section.settings.background_color | default: '#fff' }} 50%, #fff 50%);
    padding-top: {{ section.settings.padding_top }}px;
    padding-bottom: {{ section.settings.padding_bottom | default: 0 }}px;
  }
  #shopify-section-{{ section.id }} h2 {
    color: var(--White, var(--Primary-Base-White, #FFF));
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 40px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    letter-spacing: 1px;
    margin-bottom: 48px;
    margin-top: 0;
  }

  #shopify-section-{{ section.id }} h2 p {
    margin: 0;
  }

  {%- if section.settings.padding_right -%}
    #shopify-section-{{ section.id }} .page-width {
      padding-right: 0;
    }
  {%- endif -%}

  @media (max-width: 767px) {
    #shopify-section-{{ section.id }} {
      padding-top: {{ section.settings.padding_top | times: 0.5 }}px;
      padding-bottom: {{ section.settings.padding_bottom | times: 0.5 }}px;
    }
    #shopify-section-{{ section.id }} h2 {
      margin-bottom: 24px;
    }
  }
</style>

<div class="{% if section.settings.include_margins %}page-width{% endif %}">
  {% if section.settings.heading != blank %}
    <h2 class="heading-font-h3">{{ section.settings.heading }}</h2>
  {% endif %}
  {%- for block in section.blocks -%}
    {% render block %}
  {%- endfor -%}
</div>

{% schema %}
{
  "name": "t:sections.apps.name",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "checkbox",
      "id": "include_margins",
      "default": true,
      "label": "t:sections.apps.settings.include_margins.label"
    },
    {
      "type": "color",
      "id": "background_color",
      "label": "Background Color"
    },
    {
      "type": "richtext",
      "id": "heading",
      "label": "Heading"
    },
		{
			"type": "range",
			"id": "padding_top",
			"label": "Padding Top",
			"min": 0,
			"max": 500,
			"step": 5,
			"unit": "px",
			"default": 0
		},
		{
			"type": "range",
			"id": "Badding_bottom",
			"label": "Padding Bottom",
			"min": 0,
			"max": 500,
			"step": 5,
			"unit": "px",
			"default": 0
		},
    {
      "type": "checkbox",
      "id": "padding_right",
      "label": "Padding Right: 0",
      "default": false
    }
  ],
  "blocks": [
    {
      "type": "@app"
    }
  ],
  "presets": [
    {
      "name": "t:sections.apps.presets.name"
    }
  ]
}
{% endschema %}
