{%- style -%}
  #shopify-section-{{ section.id }} {
    --padding-top: {{ section.settings.padding_top }}px;
    --padding-bottom: {{ section.settings.padding_bottom }}px;
    --background-color: {{ section.settings.background_color }};
    --grid-mobile-vertical-spacing: 24px;
  }

  @media (max-width: 767px) {
    #shopify-section-{{ section.id }} {
      --padding-top: {{ section.settings.padding_top | times: 0.5 }}px;
      --padding-bottom: {{ section.settings.padding_bottom | times: 0.5 }}px;
    }
  }
{%- endstyle -%}

<div class="page-width">
  <div class="grid">
    {% for block in section.blocks %}
      <div class="grid__item">
        <a href="{{ block.settings.link }}">
          <div class="image">
            {%- if block.settings.image != blank -%}
              <img src="{{ block.settings.image | img_url: 'master' }}" width="{{ block.settings.image.width }}" height="{{ block.settings.image.height }}" alt="{{ block.settings.image.alt }}">
            {%- endif -%}
          </div>
          <div class="content">
            <div class="font-p1">{{ block.settings.text }}</div>
          </div>
        </a>
      </div>
    {% endfor %}
  </div>
</div>

{% schema %}
{
  "name": "Icon with Text",
  "class": "es-icon-with-text",
  "tag": "section",
  "settings": [
    {
      "type": "range",
      "min": 0,
      "max": 500,
      "step": 5,
      "unit": "px",
      "id": "padding_top",
      "label": "Padding top",
      "default": 80
    },
    {
      "type": "range",
      "min": 0,
      "max": 500,
      "step": 5,
      "unit": "px",
      "id": "padding_bottom",
      "label": "Padding bottom",
      "default": 80
    },
    {
      "type": "color",
      "id": "background_color",
      "label": "Background color of Wrapper",
      "default": "#F3F3F3"
    }
  ],
  "blocks": [
    {
      "type": "item",
      "name": "Item",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "inline_richtext",
          "id": "text",
          "label": "Text"
        },
        {
          "type": "url",
          "id": "link",
          "label": "Link"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "@ Icon With Text"
    }
  ]
}
{% endschema %}
